# Google OAuth 2.0 Sandbox Credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID=263657878843-okpm4mrk39fc37ahcf9kd2hojbc0hfrp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
NEXT_PUBLIC_APP_URL=http://localhost:3000
